<ion-content>
  <ion-grid fixed>
    <ion-row>
      <h3>Peliculas Nuevas</h3>
    </ion-row>
  </ion-grid>

  <app-slidesshow-backdrop [peliculas]="peliculasRecientes"></app-slidesshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <h3>Cartelera</h3>
    </ion-row>
  </ion-grid>
  <app-slidesshow-poster [peliculas]="peliculasRecientes"></app-slidesshow-poster>

  <ion-grid fixed>
    <ion-row>
      <h3>Populares</h3>
    </ion-row>
  </ion-grid>
  <app-slideshow-pares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slideshow-pares>
</ion-content>
